@import '../../../../../assets/styles/common.scss';

.title-div {
    height: 35px;
    font-size: 20px;
    vertical-align: middle;
    border-bottom: solid lightgray;
    margin-bottom: 40px;

    h1 {
        margin: 5px 20px;
        font-size: 20px;
        font-weight: 500;
        color: grey;
    }
}

mat-divider {
    margin: 20px;
}
