@import './variables.scss';
@import './mixins.scss';

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
      .page-link {
          position: relative;
          display: block;
          padding: .5rem .75rem;
          margin-left: -1px;
          line-height: 1.25;
          color: #007bff;
          background-color: #fff;
          border: 1px solid #dee2e6;
      }
      .page-link:not(:disabled):not(.disabled) {
          cursor: pointer;
      }
}
.page-item.active .page-link {
  background-color: red;
  border-color: red;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}